* {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'BeautifulEveryTime';
    src: url('../fonts/BeautifulEveryTime.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN-Regular';
    src: url('../fonts/DIN-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-Medium';
    src: url('../fonts/DINPro-Medium_13936.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro-bold';
    src: url('../fonts/DINPro\ _Bold.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.main-ctnr {
    width: 100%;
    height: auto;
    background-image: url(../img/bg.png);
    background-position: center;
}

.top-hdr {
    width: 100%;
    height: 30px;
    background: #cb0000;
}

.r-ctnr {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1100px;
    margin: 0 auto;
}

.spacer::before,
.r-ctnr::before {
    display: table;
    clear: both;
    content: " ";
}

.spacer {
    padding: 3%;
}

.pg-ttl {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    color: #ffffff;
}

.pg-ttl h1 {
    font-weight: 500;
    font-size: 50px;
    font-family: BeautifulEveryTime;
}

.icn-ctnr {
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}

.icn-rdr-ctnr {
    width: 18%;
    display: inline-table;
}

.icn-rdr-ctnt {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: #fff;
    margin: auto;
}

.icn-rdr-ctnt img {
    max-width: 60px;
    margin-top: 40px;
}

.icn-rdr-ctnr p {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #cc0001;
    padding-top: 10px;
    font-family: DIN-Regular;
}

.slider-ctnr {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    height: 30px;
    border-radius: 20px;
    position: relative;
    z-index: 1;
}

.slider-ctnt {
    width: 0%;
    height: 20px;
    z-index: -1;
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 10px;
    background: #cc0001;
    border-radius: 20px;
    transition: ease-in-out .20s;
}

.txt-ctnr {
    padding-top: 10px;
    width: 80%;
    margin: 0 auto;
}

.txt-ctnr p {
    width: 33%;
    color: #ffffff;
    font-family: DINPro-bold;
    font-family: DINPro-bold;
    display: inline-table;
    text-align: center;
}

.try-btn {
    text-align: center;
    max-width: 200px;
    margin: auto;
    padding: 20px;
    color: #fff;
    font-family: DINPro-Medium;
    background: rgb(255 255 255 / 28%);
    border-radius: 50px;
    cursor: pointer;
}

#quantity {
    padding: 3px;
    width: 100px;
    border-radius: 10px;
    border: none;
}

.btn {
    width: 150px;
    padding: 2px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.chk-sts-ctnr {
    text-align: center;
}

.lower {
    width: 33%;
    background: #c07363;
}

.medium {
    width: 66%;
    background: #c4403b;
}

.high {
    width: 98%;
}

@media only screen and (max-width:768px) {
    .icn-rdr-ctnt {
        width: 100px;
        height: 100px;
    }
    .icn-rdr-ctnt img {
        max-width: 40px;
        margin-top: 20px;
    }
    .icn-rdr-ctnr p {
        font-size: 10px;
    }
    .txt-ctnr {
        text-align: center;
    }
    .txt-ctnr p {
        display: inline;
        font-size: 12px;
    }
}